.light {
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 50%;
    opacity: 0.4;
    transition: 0.3s ease;
  }
  
  .selected {
    box-shadow: 0 0 30px 10px white;
    opacity: 1;
  }